/* * {
    border: 1px red solid;
} */

body {
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}


img {
    width: 50%;
}

button {
    margin: 5px;
}

footer {
    padding: 1rem;
}

h2 {
    font-size: 3rem;
    color: #26211D;
    font-family: 'Bebas Neue', cursive;
}

.px-4 {
    padding-left: ($spacer * 1.5) !important;
    padding-right: ($spacer * 1.5) !important;
}
